{% load static %}
<div 
    class="fixed top-8 left-1/2 -translate-x-1/2 transform p-4 px-8 rounded-xl shadow-xl z-50 opacity-0 transition-all duration-300 -translate-y-full flex items-center gap-4"
    id="toast-component"
>
    <span id="toast-icon" class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 rounded-lg"></span>
    <div class="text-left">
        <h3 class="text-sm font-normal" id="toast-title">
            This is a Sample Title
        </h3>
        <p class="text-gray-700 text-sm line-clamp-3" id="toast-message">
            This is a Sample Message
        </p>
    </div>
</div>
<script src="{% static 'js/toast.js' %}"></script>